.filter-btn {
	padding: 10px;
	background: transparent;
	margin-bottom: 10px;
	margin-right: 6px;
	border-radius: 4px;

	&.is-active {
		background-color: teal;
		color: white;
	}
}

.filter-label {
	margin-bottom: 14px;
	display: block;
  width: 100%;
}

.filter-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-reset {
  padding: 10px;
  background-color: red;
  color: white;
  font-size: 12px;
  border: 0;
  padding: 10px;
  border-radius: 4px;
}