// Helpers
@import 'loading-takeover';
@import '../../helpers/index';
@import 'collection-grid';
@import 'collection-filters';

* {
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
}

h1 {
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
}

.collection {
	display: flex;
	flex-wrap: wrap;
}

.collection-template {
	padding: 60px 20px;
}





