{% comment %}collection{% endcomment %}
<div id="collection" class="collection-template">
	{% include 'loading-takeover' %}
	<h1>${ title }</h1>
	<div class="collection">
		{% include 'collection-filter' %}
		{% include 'collection-grid' %}
	</div>
</div>