<div class="collection-grid-wrap">
	<div class="collection-grid" v-if="productsToShow.length">
		<div class="collection-item" v-for="product in productsToShow" >
			<img class="collection-item-img" v-bind:src="product.img" />
			<h3 class="collection-item-title">${ product.title  }</h3>
			<var class="collection-item-price">${ product.price }</var>
		</div>
	</div>
	<div v-else>
		No Matches
	</div>
</div>