<div class="collection-grid-wrap">
	<div class="collection-grid">
		<div class="collection-item" v-for="product in products">
			<img v-bind:src="product.img" />
			<h3>${ product.title  }</h3>
		</div>
	</div>
</div>