<div class="loading-takeover js-loading-takeover" v-bind:class="{'is-active': loading}" >
	<div class="loading-takeover__triangle js-loading-triangle"></div>
	{% comment %}<div class="loading-takeover__shadow"></div>{% endcomment %}
</div>

<div class="loading-takeover--ie js-loading-takeover-ie">
	<div class="loading-takeover__triangle js-loading-triangle"></div>
</div>		
	