<div class="product-info">
  <div class="product-info__inner">
    <div class="product-info__top">
      {% for tag in product.tags %}
        {% if tag contains 'model::' %}
        <div class="product__model-wrap">
          <span class="product__model-label">MODEL</span>
          <span class="product__model">{{ tag | remove: 'model::'}}</span>
        </div>
        {% endif %}
      {% endfor %}
      {% include 'product-images' %}
      {% include 'product-meta' %}
    </div>
    {% include 'product-controls' %}
  </div>
</div>
